<h1 class="mdl-typography--display-1">Current Attendants</h1>

<table class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Current Group</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @attendants.each do |attendant| %>
      <tr>
        <td><%= attendant.first_name %></td>
        <td><%= attendant.last_name %></td>
        <td><%= attendant.email %></td>
        <td><%= attendant.group.name %></td>
        <td><%= link_to 'Remove attendant', remove_attendant_path(user_id: attendant.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1 class="mdl-typography--display-1">Add Attendants</h1>

<table class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Current Group</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.group ? student.group.name : "-" %></td>
        <td><%= link_to student.group ? "Move attendant here" : "Add attendant", add_attendant_path(user_id: student.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Back', groups_path %>
