<p id="notice"><%= notice %></p>

<h1 class="mdl-typography--display-1">Groups</h1>

<table class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Number of People</th>
      <th>Submission</th>
      <th>Score</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.users.count %></td>
        <td><%= group.submission ? group.submission : "-" %></td>
        <td><%= group.score? ? group.score : "-" %></td>
        <td><%= link_to 'Attendants', group_attendants_path(group) %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
