<p id="notice"><%= notice %></p>
<h1 class="mdl-typography--display-1"><%= @group.name %></h1>

<h3 class="mdl-typography--title">Project</h3>
<p class="mdl-typography--body-1"><%= @group.project || "-" %></p>

<h3 class="mdl-typography--title">Submission</h3>
<p class="mdl-typography--body-1"><%= @group.submission || "-" %></p>

<h3 class="mdl-typography--title">Score</h3>
<p class="mdl-typography--body-1"><%= @group.score || "-" %></p>

<h3 class="mdl-typography--title">Current Attendants</h3>
<table class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Current Group</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @group.users.each do |attendant| %>
      <tr>
        <td><%= attendant.first_name %></td>
        <td><%= attendant.last_name %></td>
        <td><%= attendant.email %></td>
        <td><%= attendant.group.name %></td>
        <td><%= link_to 'Remove attendant', remove_attendant_path(user_id: attendant.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= link_to 'Edit Attendants', group_attendants_path(@group) %> |
<%= link_to 'Edit Group Project or Score', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
